{# src/CAF/CantineBundle/Resources/views/Menus/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Hello World ! Repas {{ nom }}</h1>
        
        <p>
            Le Hello Repas
            <a href="{{ url('caf_repas_index', { 'id': nom }) }}">
    Lien vers l'annonce d'id {{ nom }}
</a>
        </p>
    </body>
</html>