{# src/OC/PlatformBundle/Resources/views/Menus/add.html.twig #}

{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Menus - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}
<h2>Ajouter un menu</h2>
        {{ form(form) }}

{% endblock %}