{# src/OC/PlatformBundle/Resources/views/Menus/view.html.twig #}

{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Menus - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}

  <h2>Menus</h2>

  <ul class="nav nav-pills nav-stacked">
        {% for menu in menus %}
            <li>
                <a href="{{ path('caf_menus_edit', {id:menu.id}) }}">
                    {{ menu.dateMenu | date('d/m/Y') }}
                </a>
            </li>
        {% endfor %}
    </ul>
        <a href="{{ path('caf_menus_add') }}"> + </a>

{% endblock %}