{# src/CAF/CantineBundle/Resources/views/Menus/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur add plats !</title>
    </head>
    <body>
        <h1>Nouveau Plats {{ type}}  {{ libelle }} porc : {{ porc }}</h1>  
    </body>
</html>