{# src/CAF/CantineBundle/Resources/views/Plats/add.html.twig #}
{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Add Plats - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}

  <h2>Ajouter un plat</h2>
        {{ form(form) }}
{% endblock %}