{# src/CAF/CantineBundle/Resources/views/Plats/edit.html.twig #}
{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Edit Plats - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}

  <h2>Editer un plat</h2>
  {{ form(form) }}
        <a href="{{ path('caf_plats_delete', {id:id}) }}">
            Supprimer
        </a>
{% endblock %}