{# src/CAF/CantineBundle/Resources/views/Menus/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur plats !</title>
    </head>
    <body>
        <h1>Edite Plats {{ nom }}</h1>

        
    </body>
</html>