{# src/CAF/CantineBundle/Resources/views/Plats/view.html.twig #}

{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Plats - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}
    <ul class="nav nav-pills nav-stacked">
        {% for plat in plats %}
            <li>
                <a href="{{ path('caf_plats_edit', {id:plat.id}) }}">
                    {{ plat.libelle}}
                </a>
            </li>
        {% endfor %}
    </ul>
        <a href="{{ path('caf_plats_add') }}"> + </a> 
{% endblock %}