{# src/CAF/CantineBundle/Resources/views/Menus/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur plats !</title>
    </head>
    <body>
        <ul class="nav nav-pills nav-stacked">
            {% for plat in plats %}
                <li>
                   {{ plat.libelle}}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>