{# src/CAF/CantineBundle/Resources/views/Menus/index.html.twig #}

{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Plats - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}
    <ul class="nav nav-pills nav-stacked">
        {% for plat in plats %}
            <li>
                {{ plat.libelle}}
            </li>
        {% endfor %}
    </ul>
        <a href="{{ path('caf_plats_addform') }}"> + </a> 
{% endblock %}