{# src/CAF/CantineBundle/Resources/views/Menus/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur plats !</title>
    </head>
    <body>
       <h1>Plats : {{ plat.libelle }}  - type de plat : {{plat.typePlat.libelle}}</h1>

        <p>
            Plat suivant : 
            <a href="{{ url('caf_plats_view', { 'id': plat.id + 1}) }}">
                Lien vers le plat d'id {{ plat.id + 1 }}
            </a>
        </p>
    </body>
</html>