{# src/CAF/Popote_Bundle/Resources/views/TypePlats/add.html.twig #}
{% extends "CAFPopoteBundle::layout.html.twig" %}

{% block title %}
  Add Type Plat - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}

  <h2>Ajouter un type de plat</h2>
        {{ form(form) }}
{% endblock %}