{# src/CAF/CantineBundle/Resources/views/TypePlats/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Ajouter un type de plat</h1>
      {{ form(form) }}
    </body>
</html>