{# src/CAF/CantineBundle/Resources/views/TypePlats/edit.html.twig #}
{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Edit Type Plat - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}

  <h2>Editer un type de plat</h2>
        {{ form(form) }}
        <a href="{{ path('caf_typeplats_delete', {id:id}) }}">
            Supprimer
        </a>
{% endblock %}