{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "CAFCantineBundle::cantine.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block cafcantine_body %}

  <h2>Menu</h2>

  Les menus

{% endblock %}