{# src/CAF/CantineBundle/Resources/views/Cantine/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
  {% for entree in listMenu %}
    <li>
      <a href="{{ path(entree.route) }}">
        {{ entree.title }}
      </a>
    </li>
  {% endfor %}
</ul>