{# src/CAF/TestBundle/Resources/views/Menu/add.html.twig #}

{% extends "CAFTestBundle::test.html.twig" %}

{% block title %}
  Menus - {{ parent() }}
{% endblock %}

{% block caftest_body %}
<h2>Ajouter un menu</h2>
        {{ form(form) }}
{% endblock %}