{# src/CAF/PopoteBundle/Resources/views/Popote_/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
  {% for entree in listMenus %}
    <li>
      <a href="{{ path(entree.route) }}">
        {{ entree.title }}
      </a>
    </li>
  {% endfor %}
</ul>