{# src/CAF/PopoteBundle/Resources/views/Repa/add.html.twig #}

{% extends "CAFPopoteBundle::popote.html.twig" %}

{% block title %}
  Repas - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}
<h2>Ajouter un repa</h2>
        {{ form(form) }}
{% endblock %}