{# src/CAF/PopoteBundle/Resources/views/Plats/add.html.twig #}
{% extends "CAFPopoteBundle::layout.html.twig" %}

{% block title %}
  Add Repas - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}

  <h2>Ajouter un Repas</h2>
        {{ form(form) }}
{% endblock %}