{# src/CAF/PopoteBundle/Resources/views/Plats/add.html.twig #}
{% extends "CAFPopoteBundle::layout.html.twig" %}

{% block title %}
  Add Plats - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}

  <h2>Ajouter un plat</h2>
        {{ form(form) }}
{% endblock %}