{# src/CAF/PopoteBundle/Resources/views/Plat/view.html.twig #}

{% extends "CAFPopoteBundle::popote.html.twig" %}

{% block title %}
  Plats - {{ parent() }}
{% endblock %}

{% block cafpopote_body %}
    <ul class="nav nav-pills nav-stacked">
        {% for plat in plats %}
            <li>
                <a href="{{ path('popote_plat_edit', {id:plat.id}) }}">
                    {{ plat.libelle}}
                </a>
            </li>
        {% endfor %}
    </ul>
        <a href="{{ path('popote_plat_add') }}"> + </a> 
{% endblock %}